.nav {
    background-color: #000814;
    padding-bottom:0.5rem;
    padding-top: 0.5rem;
    padding-left: 2rem;
    padding-right:2rem;
  }
  .nav-link {
    color: white;
  }
  .signup {
      text-align: center;
      padding-top:10rem;
  
  }
  
  
  .signupelements {
    display: block;
    border-radius: 0.5rem;
    margin-top:1.2rem;
    margin-bottom: 1.2rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .regtext {
    margin-bottom: 2rem;
  }
  
  .leftsidehead {
    background-image: linear-gradient(to right,yellow, white);
  
  
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: auto;
    position: relative;
    top:-6rem;
  
  }
  
  .textmain {
    align-items: center;
    text-align:center;
    padding: auto;
    margin-top:6rem;
  
  }
  
  .textmain  h1 {
    margin-bottom: 4rem;
  }
  
  .donate {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3rem;
    width: 10%;
  }
  
  .Gympartners {
    text-align: center;
    margin-top: 4rem;
  }
  